body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#id-34234-2413204801{
    /* text-align: center; */
    font-size: 35px;
    width: 95%;
    margin: auto;
}

#id-348029809412_2987202-hhKIasdnkJ {
    width: 95%;
    height: 30pc;
    /* background: #cbc4c4; */
    margin: auto;
}

#id-348029809412_2987202-hhKIasdnkJ-01 {
    width: 33%;
    height: 100%;
    /* background: aliceblue; */
    display: inline-flex;
}

#id-348029809412_2987202-hhKIasdnkJ-01-08789790 {
    height: 90%;
    width: 90%;
    /* background: green; */
    margin: auto;
    position: relative;
    box-shadow: 0px 0px 29px -19px;
    cursor: pointer;
    transition: 1s;
}

#id-348029809412_2987202-hhKIasdnkJ-01-08789790:hover{
    box-shadow: 0px 0px 20px -19px;
}

#id-348029809412_2987202-hhKIasdnkJ-01-08789790-01-01 {
    width: 100%;
    height: 40%;
    /* background: yellow; */
    position: absolute;
    bottom: 0px;
    padding: 20px 0px;
}

#id-87234uosadahfjash{
    text-align: center;
    font-size: 30px;
}

#id-87234uosadahfjasi{
    text-align: center;
    font-size: 25px;
}

#id-234-adifaj0983804-23424 {
    outline: none;
    width: 98%;
    height: 40px;
    padding: 10px;
}

#id-ofa-3123840980, #id-ofa-3123840981{
    display: inline-block;
    width: 48%;
}

#id-ofa-3123840980{
    text-align: center;
}

#id-ofa-3123840981{
    margin: auto;
}

#id-82040-adjflkj2j-324234 {
    width: 95%;
    /* height: 20px; */
    /* background: gray; */
    margin: auto;
}

#id-82040-adjflkj2j-324234-01 {
    width: 97%;
    /* height: 100%; */
    /* background: green; */
    box-shadow: 0px 0px 5px 0px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 13px -10px
}

#id-82040-adjflkj2j-324234-01-01{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}

#id-82040-adjflkj2j-324234{
    padding-top: 50px;
    padding-bottom: 50px;
}

#id-laskdjla-349234020-9879667869 {
    width: 50%;
    /* height: 10pc; */
    /* background: green; */
    margin: auto;
    position: relative;
}

#id-laskdjla-349234020-9879667869-01 {
    width: 100%;
    height: 54px;
    /* background: yellow; */
    /* position: absolute; */
    /* bottom: 0px; */
    position: relative;
    padding-top: 15px;
}

#id-laskdjla-349234020-9879667869-02 {
    width: 100%;
    height: 33pc;
    padding: 5px;
    overflow-y: scroll;
    /* background: red; */
}

#id-AFsfasdASDF-338497{

}

#id-AFsfasdASDF-338497 {
    width: 86%;
    outline: none;
    height: 97%;
    border-radius: 13px;
    border: 1px solid;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#id-uoadfkjl_34234 {
    width: 68%;
    padding-top: 2px;
    text-align: center;
    /* margin: auto; */
    height: 40px;
    display: inline-block;
}

#id-io32u4ljlkdjf {
    /* position: absolute; */
    right: 43px;
    top: 13px;
    height: 40px;
    width: 29%;
}

#id-asdlkjfal-btn0adadadfjl {
    background: transparent;
    border: 2px solid green;
    border-radius: 8px;
    padding: 12px 39px;
    transition: 0.5s;
    cursor: pointer;
}

#id-asdlkjfal-btn0adadadfjl:hover{
    background: green;
    color: white;
}

#id-io32u4ljlkdjf {
    /* position: absolute; */
    right: 43px;
    top: 3px;
    display: inline-block;
    width: 29%;
    color: white;
}

#id-youasdfawe-342 {
    background: #337ab7;
    /* height: 30px; */
    width: 50%;
    color: white;
    border-radius: 10px;
    /* position: absolute; */
    /* left: 0px; */
}

#id-mead080adfa {
    width: 50%;
    /* height: 30px; */
    background: #349952;
    /* position: relative; */
    right: 5px;
    margin-left: 50%;
    border-radius: 10px;
    color: white;
}

#id-arraafj,#id-arraafi{
    position: relative;
    padding-top: 25px;
}

#id-ch-temp842342322{
    padding: 1px 10px;
    position: relative;
}

#id-de-aldfj0{
    position: absolute;
    right: 0px;
}

#id-adjflakfjuoy34234-gjhgj{
    cursor: pointer;
    font-size: 20px;
}

#id-0a-adfadf {
    border-radius: 5px;
    position: absolute;
    right: 3px;
    top: 20px;
    /* box-shadow: 0px 0px 3px 0px; */
    background: white;
    color: black;
    padding: 3px;
    cursor: pointer;
    /* width: 0px; */
    overflow: hidden;
    visibility: hidden;
    /* transition: 1s; */
    /* height: 0px; */
}

#id-aldfour-adfasdfyafia-foasdf-adfafa {
    width: 100%;
    /* background: yellow; */
    box-shadow: 0px 1px 0px 0px;
}

#id-adoui3-adf987908ads0f8a9789 {
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20px;
}

#id-iadsofu-afasjflakjlafaddf {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 95%;
    margin: auto;
    /* height: 20px; */
    /* background: green; */
}

#id-q809e8rq0wer09qr0q9w8er0-qwerwe {
    width: 97%;
    /* background: yellow; */
    margin: auto;
    box-shadow: 0px 0px 13px -10px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
} 

#id-frqo-asf9a87f9a-adfa9sd8f6a87sdf{
    padding-left: 10px;
}

#id-a9f9a79fa-adf79873r803-dfadsf87a98dsf9ss{
    padding-left: 20px;
}

@media only screen and (max-width:900px){
    #id-348029809412_2987202-hhKIasdnkJ-01{
        width: 100%;
    }    

    #id-ofa-3123840980{
        font-size: 20px;
    }

    #id-82040-adjflkj2j-324234-01-01{
        font-size: 20px;
    }

    #id-87234uosadahfjasi{
        font-size: 20px;
    }

    #id-laskdjla-349234020-9879667869{
        width: 98%;
    }
}

    