{% extends 'base.html' %}
    
{% block content %}
<div id="id-_-as-32n-aafjp-afkn">
    <div id="id-_-as-32n-aafjp-afkn-01-">
        <h2>About | www.news.org</h2>
    </div>
    <div id="id-_-as-32n-aafjp-afkn-01--">
        <h3>Purpose of <a href="http://www.news.org" target="_blank">www.news.org</a>&nbsp;is gathering of information from the people all over the world and disbursing to everyone in depending on their region. We publishing news aritlces everyday on time in different countries, categories. </h3>
    </div>
</div>
{% endblock %}