{% extends 'base.html' %}
    
{% block content %}

 <div id="id-4233-w">

    </div>
    <!-- Main Area -->
    <div id="id-4234-w">
           <div id="id-4234-w-01">
            <h3><span><a href="/news/write" style="text-decoration:underline">News Article - Write</a></span><span style="padding-left:20px">Blog Article - Write</span><span style="padding-left:20px"><a href="/wofday/write" style="text-decoration:underline">Word of the day - Write</a></span></h3>
            <h3>{{alert}}</h3>
        </div>
            <hr>

    <form id="___23-34KFLjafasujiibafi" action="/blog/article/write{{getvalue}}" method="post" data-element="id-4234-w-01-03-btn">
            <div id="id-4234-w-01-02-3543">
                <textarea class="cl-4234-w-01-02-01-fss-" id="id-4234-w-01-02-01-fss-" style='{{headalert}}' placeholder="Heading" name="heading" required>{{blog_heading}}</textarea>
            </div>
            
            <div id="id-4234-w-01-02">
                <textarea class="cl-4234-w-01-02-01" id="summernote" style='{{blogalert}}' name="blog" required>{{blog_blog}}</textarea>
            </div>
            <div id="id-4234-w-01-01">
                <div id="id-4234-w-01-01-01-kw-sw">
                </div>
                <div id="id-4234-w-01-01-01-kw" style="padding-bottom: 20px; padding-left:0px; text-align:left;">
                    <input id="id-4234-w-01-01-01-in-kyw" onfocus="this.value=''" name="keywords" placeholder="Keywords">
                    <button type="button" id="id-4234-w-01-01-01-in-kw" onclick="f2344();">Add</button>
                    <p id="al-kw-24223" style="padding-top:10px;"></p>
                </div>

            </div>
            <div id="id-4234-w-01-03">
                <button type="submit" id="id-4234-w-01-03-btn">Publish</button>
            </div>
        </form>
    </div>
    <!-- End Main Area -->

    <div style="height: 100pc; width:100%"></div>
</body>
<script>
   $(document).ready(function(){
     $("#summernote").summernote({
        height:300,
        focus: true,
        backColor:"black",
        foreColor:"black",
        styleTags: [
        'p',
            { title: 'Blockquote', tag: 'blockquote', className: 'blockquote', value: 'blockquote' },
            'pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
        ],
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
        toolbar: [
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['fontsize', ['fontsize']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['insert', ['link', 'picture']],
        ['view', ['fullscreen','help']]
        ],
     });
   })
</script>

{% endblock %}