{% extends 'base.html' %}

{% block content %}

<!-- Main Area -->

<div class="c-t-ad-n-r">
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7237681015099481"
    crossorigin="anonymous"></script>
<!-- earninfo/top -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-7237681015099481"
    data-ad-slot="8653607681"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<!--<div class="c-h-b-ad c-ad-l">-->
<!--    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7237681015099481"-->
<!--     crossorigin="anonymous"></script>-->
<!-- earninfo/left -->
<!--<ins class="adsbygoogle"-->
<!--     style="display:block"-->
<!--     data-ad-client="ca-pub-7237681015099481"-->
<!--     data-ad-slot="5895582407"-->
<!--     data-ad-format="auto"-->
<!--     data-full-width-responsive="true"></ins>-->
<!--<script>-->
<!--     (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script>-->
<!--</div>-->
<!--<div class="c-h-b-ad c-ad-r">-->
<!--    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7237681015099481"-->
<!--     crossorigin="anonymous"></script>-->
<!-- earninfo/right -->
<!--<ins class="adsbygoogle"-->
<!--     style="display:block"-->
<!--     data-ad-client="ca-pub-7237681015099481"-->
<!--     data-ad-slot="7479029337"-->
<!--     data-ad-format="auto"-->
<!--     data-full-width-responsive="true"></ins>-->
<!--<script>-->
<!--     (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script>-->
<!--</div>-->
    <div id="id-24032340284242-01">
        <div id="id-24032340284242-01-01">
            <div id="id-24032340284242-01-01-01">
                <div id="i-c08-">
                <h1>Earning | Info</h1>
                </div>
            <div id="id-24032340284242-01-01-02">
            <strong>
                <p>We proudly welcome you to lastevents.space</p>
                <p>We provide you a space to earn money through your news, and articles.
                </p>
            </strong>
                <p>For each post (News, Blog articles) you get 10 contributions and 7 for memes and opinions. You don't need any prior contributions to start earning.
                </p>
                <p>You can write in your own style,(write the event as you would tell your friend) you can also write as per the <span><a>sample templates</a></span></p>
                <p>Creating a article perday will improve your earning.</p>
                <br>
                <p>If your article contains any inappropriate content or data, readers can
                    report your article. If the reporting rate is more than certain value your post will be removed.
                </p>
                <p>If you have images related your news article post them, it will improve the quality of your article</p>
                <p>You may also post your own animations images as well</p>
                <p>In your article</p>
                <ul>
                    <li>Avoid aggressive or cuss words</li>
                    <li>Sometimes it is better to avoid writing your own opinions</li>
                    <li>Avoid copyrights problem</li>
                </ul>
                <p>Don't put your article in any trouble of getting deleted from the database by
                    copying from any other media. It will affect your earning. You can refer any other sources, social media platforms and so on to get information
                </p>
                <br>
                <p>You can see your contributions, articles data, income data in the <span><a href="/dash?t=income">'me'</a></span> tab.</p>
                <p>We will update the income at end of the month.</p>
                <p>Your earning depends upon the count of articles.</p>
                <p>Note : Each article with more than 50 fifty words will be provided with a separate page by default.</p>
                <p>You can create page to upload memes, quotes, opinions, etc,. You will also be get paid for posts which are posted in your page.</p>
            </div>
           <div id="id-8450234-jhihj234-234234">
            {% if logged_in %}
            <a href="/news/write">
              <button class="cl-454352-dm-g" id="id-8450234-jhihj234-234234-btn">Start Writing</button>
            </a>
            {% endif %}
            {% if not logged_in %}
            <a href="/login?to=earninfo">
              <button class="cl-454352-dm-g" id="id-8450234-jhihj234-234234-btn">Start earning by signing in</button>
            </a>
            {% endif %}
           </div>
        </div>
    </div>
</div>
    <!-- End Main Area -->
    <style>
        body{
        }
        .c-h-b-ad{
            height: 600px;
            width: 20%;
            top: 460px;
            background: #f2f2f2;
            position: absolute;
          }
          .c-ad-l{
            left: 10px;
          }

          .c-ad-r{
            right: 10px;
          }
          .c-t-ad-n-r{
            background: #f2f2f2;
            width: 98%;
            height: 200px;
            margin: auto;
            margin-top: 150px;
            text-align: center;
        }
        #id-24032340284242-01-01-01{
            margin-top: 5pc;
        }
        #i-c08-{
            width: 60%;
            margin: auto;
            padding: 0px 20px;
        }
        #id-24032340284242-01-01-02{
            width: 60%;
            margin: auto;
            font-size: 24px;
            padding: 0px 20px;
        }
        #id-8450234-jhihj234-234234{
            width: 60%;
            margin: auto;
            text-align: left;
            padding: 0px 20px;
        }
        .cl-454352-dm-g{
              padding: 10px;
              background: transparent;
              border-radius: 10px;
        }
        body{
            padding-bottom: 100px;
        }
        @media screen and (max-width:900px){
            #id-24032340284242-01-01-02{
                width: 96%;
            }
            #i-c08-{
                width: 98%;
            }
            .c-h-b-ad{
                display: none;
              }
        }
    </style>
{% endblock %}