{% extends 'base.html' %}
    
{% block content %}

<!-- Main Area -->
    <div id="id-24032340284242-01">
        <div id="id-24032340284242-01-01">
            <div id="id-24032340284242-01-01-01">
                <h1>Earning | Info</h1>
            <div id="id-24032340284242-01-01-02">
            <strong>
                <p>We proudly welcome you to our website.</p>
                <p>Here you earn money by your news, articles.</p>
            </strong>
                <p>For each posts(News, Blog articles) you get 10 contibutions. When your contribution value is 
                    greater than '75' you can start earning money.
                </p>
                <p>(You need seven articles to reach 75)</p>
                <p>You can write in your own style,(you can write in the way how you tell the event to your friend) you can also write as per the <span><a>sample templates</a></span></p>
                <p>Creating a article perday will improve your earning.</p>
                <br>
                <p>If your article contains any inappropriate content or data, readers can 
                    report your article. If the reporting rate is more than certain value your post will be removed.
                </p>
                <p>If you have images about your news article post them, if you don't have leave it, but it will improve the quality of your article</p>
                <p>You may also create your image like presentations.(Images aren't necessary)</p>
                <p>In your article</p>
                <ul>
                    <li>Avoid aggressive or cuss words</li>
                    <li>Sometimes it is better to avoid writing your own opinions</li>
                    <li>Avoid copyrights problem</li>
                </ul>
                <p>Don't put your article in any trouble of getting deleted from the database by
                    copying from any other media. It will affect your earning. You can refer any other sources, social media platforms and so on to get information
                </p>
                <br>
                <p>You can see your contributions, articles data, income data in the <span><a href="/data/me">'me'</a></span> tab.</p>
                <p>We will update the income at end of the month.</p>
                <p>Your earning depends upon the count of articles and how many views it would get.</p>
            </div>
           <div id="id-8450234-jhihj234-234234">
            <a href="/news/write"> 
              <button id="id-8450234-jhihj234-234234-btn">Start Writing</button>
            </a>
           </div>
        </div>
    </div>
</div>
    <!-- End Main Area -->
{% endblock %}