{% extends 'base.html' %}
    
{% block content %}

<style>

        #_14-vao {
            margin: auto;
            width: 60%;
            text-align: center;
            margin-top: 20pc;
            padding: 20px 0px;
            box-shadow: 0px 0px 32px -7px #cccccc;
            border-radius: 23px;
        }
    

    #_14-moi {
        height: 50px;
        box-shadow: 0px 0px 5px 2px #cccccc;
        border: none;
        outline: none;
        width: 50%;
    }

    #_14-pwq {
        /* height: 0px; */
        padding: 12px 25px;
        background: transparent;
        border: none;
        background: black;
        border-radius: 5px;
        color: white;
    }

    #_14-pwi {
        padding: 20px;
    }

    @media screen and (max-width: 900px){
        #_14-vao{
            width: 98%;
        }
    }
</style>

<!-- Main Area -->
    <div id="_14-vao">
        <form id="___23-34KFLjafasujiibafi" action="/forgotpassword" method="post" data-element="">
            <div id="_14-xio">
                <h2>Password-Reset-Email</h2>
                <h3>{{alert}}</h3>
            </div>
            <div id="_14-coq">
                <div id="_14-cew">
                    <input type="email" id="_14-moi" name="email" placeholder="Email" required>
                </div>
            </div>
            <div id="_14-pwi">
                <div id="_14-xwi">
                    <button id="_14-pwq">Send Email</button>
                </div>
                <div style="padding-top:5px">
                    <a href="/login" style="text-decoration:underline">Login</a>
                </div>
            </div>
        </form>
    </div>

    <!-- End Main Area -->


{% endblock %}