{% extends 'base.html' %}
    
{% block content %}

<!-- Main Area -->
    <div id="id-1234-3032">
        <form id="___23-34KFLjafasujiibafi" action="/forgotpassword" method="post" data-element="id-1234-3032-06-01-btn">
            <div id="id-1234-3032-01">
                <h2>Password-Reset-Email</h2>
                <h3>{{alert}}</h3>
            </div>
            <div id="id-1234-3032-02">
                <div id="id-1234-3032-02-01">
                    <input type="email" id="id-1234-3032-01-01-in" name="email" placeholder="Email" required>
                </div>
            </div>
            <div id="id-1234-3032-06">
                <div id="id-1234-3032-06-01">
                    <button id="id-1234-3032-06-01-btn">Send Email</button>
                </div>
            </div>
        </form>
    </div>

    <!-- End Main Area -->

    <div style="height: 100pc; width:100%"></div>

{% endblock %}