{% extends 'base.html' %}
{% block content %}
<style>
    body{
        font-family: verdana;
        color: white;
      }
      
      ._10-mcx{
         text-align: center; 
         padding-top: 145px;
      }
      
      ._10-lop{
        font-size: 15em;
      }
      
      ._10-loz{
         font-size: 35px;
      }
      
      ._10-miu{
        font-size: 24px;
      }
      
      ._10-vce{
        padding-top: 30px;
      }
      
      ._10-biu{
        padding: 15px 35px;
        background: #339952; 
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        border-radius: 30px;
      }
      
      ._10-oin{
         font-size: 20px;
      }
      
      @media screen and (max-width:900px){
        ._10-lop{
          font-size: 7em;
        }
        ._10-loz{
          font-size: 24px;
        }
        ._10-miu{
          font-size: 20px;
        }
        ._10-mcx{
          padding-top: 100px;
        }
        ._10-biu{
          padding: 12px 15px;
          font-size: 20px;
        }
      }
</style>
<div class="_10-oin">lastevents.space</div>
<div class="_10-mcx">
<div class="_10-lop">
  404 
</div>
<div class="_10-loz">
  Page Not Found
</div>
<div class="_10-miu">
<!--   https://www.lastevents.space/groups -->
</div>
  <div class="_10-vce"><button class="_10-biu"><a href="/" style="color: white; text-decoration: none">Back to home</a></button></div>
</div>
{% endblock %}