{% extends 'base.html' %}
    
{% block content %}


<!-- Main Area -->
    <div id="id-1234-3032">
        <form id="___23-34KFLjafasujiibafi" action="/resetpassword?key={{key}}" method="post" data-element="id-1234-3032-06-01-btn">
        <div id="id-1234-3032-01">
            <h2>Reset-Password</h2>
            <h3>{{alert}}</h3>
        </div>
        <div id="id-1234-3032-03">
            <div id="id-42234-234-32423433-23">
                <div id="id-1234-3032-03-01">
                    <input type="password" name="password" pattern=".{8,}" id="id-1234-3032-01-01-in-01" placeholder="Password MIn(8 Characters)" required>               
                </div>    
            </div>
        </div>
        <div id="id-1234-3032-03">
            <div id="id-42234-234-32423433-23">
                <div id="id-1234-3032-03-01">
                    <input type="password" name="confirmpassword" id="id-1234-3032-01-01-in-01" placeholder="Confirm Password" required>               
                </div>    
            </div>
        </div>
        <div id="id-1234-3032-06">
            <div id="id-1234-3032-06-01">
                <button type="submit" id="id-1234-3032-06-01-btn">Reset</button>
            </div>
        </div>
    </form>
    </div>

    <!-- End Main Area -->

    <div style="height: 100pc; width:100%"></div>
{% endblock %}

