{% extends 'base.html' %}
{% block content %}
<style>
  #id-763-0 {
margin: auto;
margin-top: 5pc;
text-align: center;
margin-bottom: 100px;
}

input#__affaj {
height: 50px;
width: 50pc;
border-radius: 6px;
padding-left: 10px;
outline: none;
}
button#id-se0adf {
background: transparent;
border-radius: 6px;
padding-top: 10px;
padding-bottom: 10px;
}
#id-0121-014-02-01-___ {
width: 50%;
padding-top: 10px;
padding-bottom: 10px;
margin: auto;
border-bottom: 1px solid;
border-right: 1px solid;
border: 1px solid;
border-top: none;
}
#id-343-2 {
width: 50%;
margin: auto;
border-bottom: 1px solid;
}
.c-t-ad-n-r{
  background: #f2f2f2;
  width: 60%;
  margin: auto;
  margin-top: 150px;
}
@media screen and (max-width:900px){
input#__affaj{
    width: 98%;
    padding-bottom: 5px;
}
div#id-0121-014-02-01-___{
    width: 98%;
}
#id-tle-01-hde-___{
    font-size: 25px;
}
.c-t-ad-n-r{
    width: 98%;
}
}
</style>


   <div class="c-t-ad-n-r">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7237681015099481"
     crossorigin="anonymous"></script>
<!-- search/displayad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7237681015099481"
     data-ad-slot="4977962844"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
   </div>
  <div id="id-763-0">

    <div id="id-342">
      <input type="text" id="__affaj" placeholder="Search">
      <button id="id-se0adf">Search</button>
    </div>

    <div id="id-343">
      <div id="id-343-2">
        <h3>Results</h3>
      </div>
      <div id="id-wnss-fqw">

      <div>
    </div>

  </div>
    </div>

  </div>


{% endblock %}