{% extends 'base.html' %}
    
{% block content %}

    <!-- Main Area -->
    <div id="id-52l3k98-kg2g-g435">
        <div id="id-w29-0sdf-f-dsf0ads-01">
            <div>
                <div id="id-423hj-23424j2l-2g">
                    <h2>Read local and worldwide news in real time</h2>
                </div>
                <div id="id-423hj-23424j2l-3g">
                   <a href="/news/read"> 
                    <button style="background-color:tranparent" id="id-btn-j345l-345g-345241">Read</button>
                   </a>
                </div>
            </div>
        </div>
        <div id="id-w29-0sdf-f-dsf0ads-02">
            <div>
                <div id="id-423hj-23424j2l-2g">
                    <h2>Write news aritcles and publish them here</h2>
                </div>
                <div id="id-423hj-23424j2l-3g">
                    <a href="/news/write">
                     <button style="background:tranparent" id="id-btn-j345l-345g-345242">Write</button>
                    </a>    
                </div>
            </div>
        </div>
        <div id="id-w29-0sdf-f-dsf0ads-03">
            <div>
                <div id="id-423hj-23424j2l-2g">
                    <h2>Write news become a member and start to earn</h2>
                </div>
                <div id="id-423hj-23424j2l-3g">
                   <a href="/earninfo"> 
                    <button style="background-color:tranparent" id="id-btn-j345l-345g-345243">Earn</button>
                   </a>
                </div>
            </div>
        </div>
    </div>
    <div id="id-a0d9f8-adfad9800-dsfas0adf-" style="font-size:30px">
       <div id="id-a0d9f8-adfad9800-dsfas0adf-01">
          <div id="id-a0d9f8-adfad9800-dsfas0adf-01-01">
            <p>Get to know the information about the event on your local area at your regional language</p>
          </div>
       </div>
       <div id="id-a0d9f8-adfad9800-dsfas0adf-02">
        <div id="id-a0d9f8-adfad9800-dsfas0adf-01-02">
            <p>Write news in your own style and publish them and get paid</p>
          </div>
       </div>
       <div id="id-a0d9f8-adfad9800-dsfas0adf-03">
        <div id="id-a0d9f8-adfad9800-dsfas0adf-01-03">
            <p>Instant news in different countries, categories</p>
          </div>
       </div>
    </div>
    <div id="id-a0d9f8-adfad9800-dsfas0adf-452-2342">
        <div id="id-a0d9f8-adfad9800-dsfas0adf-452-2342-01">
            <h2>
                <p>Detailed news in live</p>
                <p>Breifs and Summaries of news articles are here to save your time <span></span></p>
                <div>
                    <a href='/news/read'><button id="id-btn-j345l-345g-345241-01">Read</button></a>
                    <a href='/news/write'><button id="id-btn-j345l-345g-345242-01">Write</button></a>
                    <a href='/earninfo'><button id="id-btn-j345l-345g-345242-01">Earn</button></a>
                </div>        
            </h2>
        </div>
    </div>    <!-- End Main Area -->


{% endblock %}

