{% extends 'base.html' %}
    
{% block content %}

    <!-- Main Area -->
    <div id="id-1234-3032">
        <form id="___23-34KFLjafasujiibafi" action="/contact" method="post" data-element="id-1234-3032-06-01-btn">
        <div id="id-1234-3032-01">
            <h2>Contact</h2>
            <h4>{{alert}}</h4>
        </div>
        <div id="id-1234-3032-02">
            <div id="id-1234-3032-02-01">
                <input type="email" name="email" style='{{emailalert}}' id="id-1234-3032-01-01-in" placeholder="Your email" required>
            </div>
        </div>
        <div id="id-1234-3032-03">
            <div id="id-42234-234-32423433-23">
                <div id="id-1234-3032-03-01">
                <textarea name="message" id="id-23424-___4222" style="border-radius:10px" placeholder="Enter your message, feedback or reports here"></textarea>
                </div>    
            </div>
        </div>
        <div id="id-1234-3032-06">
            <div id="id-1234-3032-06-01">
                <button type="submit" id="id-1234-3032-06-01-btn">Send</button>
            </div>
        </div>
    </form>
    </div>
    <!-- End Main Area -->
{% endblock %}