{% extends 'base.html' %}
    
{% block content %}

    <!-- End Nav Bar -->
    <div style="height: 10pc; width:100%"></div>
    <!-- Main Area -->
    <div id="nt-345234j-234234l">
        <div id="nt-345234j-234234l-01">
            <div id="nt-345234j-234234l-01-01">
                <h2 style="padding: 10px 5px 0px 5px;">Sample News Template - 1(FourLine)</h2>
            </div>
            <div id="nt-345234j-234234l-01-02" style="padding: 0px 5px 10px 7px;">
                <p>Write a news just in fourlines as news summary or news breif</p>
            </div>
            <hr>
            <div id="nt-345234j-234234l-01-03">
                <div id="nt-345234j-234234l-01-03-01">
                    <h1>Title or headline of the news article</h1>
                </div>
                <div id="nt-345234j-234234l-01-03-02">
                    <h3>Data of the events in just fourline or fiveline, this maybe a summary or news breif
                        This is easy and save times of your article but it can hold reader if it has more information.
                    </h3>
                </div>
            </div>
        </div>

        <div id="nt-345234j-234234l-01">
            <div id="nt-345234j-234234l-01-01">
                <h2 style="padding: 10px 5px 0px 5px;">Sample News Template - 2(Pointed)</h2>
            </div>
            <div id="nt-345234j-234234l-01-02" style="padding: 0px 5px 10px 7px;">
                <p>Write a news in few points</p>
            </div>
            <hr>
            <div id="nt-345234j-234234l-01-03">
                <div id="nt-345234j-234234l-01-03-01">
                    <h1>Title or headline of the news article</h1>
                </div>
                <div id="nt-345234j-234234l-01-03-02">
                    <ul>
                        <li><h3>Give the place, time</h3></li>
                        <li><h3>Explain the event or incident</h3></li>        
                        <li><h3>If it is scheme or new plan write about its aspects</h3></li>           
                        <li><h3>Write in your own way</h3></li>           
                    </ul>
                    <p>(Try to include more points)</p>
                </div>
            </div>
        </div>

        <div id="nt-345234j-234234l-01">
            <div id="nt-345234j-234234l-01-01">
                <h2 style="padding: 10px 5px 0px 5px;">Sample News Template - 3(Detailed)</h2>
            </div>
            <div id="nt-345234j-234234l-01-02" style="padding: 0px 5px 10px 7px;">
                <p>Write article in full</p>
            </div>
            <hr>
            <div id="nt-345234j-234234l-01-03">
                <div id="nt-345234j-234234l-01-03-01">
                    <h1>Title or headline of the news article</h1>
                </div>
                <div id="nt-345234j-234234l-01-03-02">
                    <h3>Tell the readers the full information, explain in a detailed manner.
                        Analyse the media, information sources to get the information. It is better to write in the way 
                        which is easily understandable by the reader.
                    </h3>
                    <p>Include all the details, if you have images put it there other-wise don't care about the pictures.
                    </p>
                     <h4>It is better you use normal vocabulary and write in your regional language such that it attract readers around you</h4>
                </div>
            </div>
        </div>

        <div id="nt-345234j-234234l-01">
            <div id="nt-345234j-234234l-01-01">
                <h2 style="padding: 10px 5px 0px 5px;">Sample News Template - 1(Your Choice)</h2>
            </div>
            <div id="nt-345234j-234234l-01-02" style="padding: 0px 5px 10px 7px;">
                <p>Write in any style as you want</p>
            </div>
            <!-- <hr> -->
            <!-- <div id="nt-345234j-234234l-01-03">
                <div id="nt-345234j-234234l-01-03-01">
                    <h1>Title or headline of the news article</h1>
                </div>
                <div id="nt-345234j-234234l-01-03-02">
                    <h3>Data of the events in just fourline or fiveline, this maybe a summary or news breif
                        This is easy and save times of your article but it can hold reader if it has more information.
                    </h3>
                </div>
            </div> -->
        </div>

    </div>
    <!-- End Main Area -->

    {% endblock %}