{% extends 'base.html' %}
    
{% block content %}

    <!-- Main Area -->
    <div id="id-1234-3032">
        <form id="___23-34KFLjafasujiibafi" action="/login{{to}}" method="post" data-element="id-1234-3032-06-01-btn">
        <div id="id-1234-3032-01">
            <h2>Login</h2>
            <h4>{{alert}}</h4>
        </div>
        <div id="id-1234-3032-02">
            <div id="id-1234-3032-02-01">
                <input type="email" name="email" style='{{emailalert}}' id="id-1234-3032-01-01-in" placeholder="Email" required>
            </div>
        </div>
        <div id="id-1234-3032-03">
            <div id="id-42234-234-32423433-23">
                <div id="id-1234-3032-03-01">
                    <input type="password" name="password" style='{{passwordalert}}' id="id-1234-3032-01-01-in-01" placeholder="Password" required>               
                </div>    
            </div>
        </div>
        <div id="id-1234-3032-03-">
            <div id="id-1234-3032-03-02">
                <a href="/forgotpassword">Forgot Password?</a>
            </div>
        </div>
        <div id="id-1234-3032-06">
            <div id="id-1234-3032-06-01">
                <button type="submit" id="id-1234-3032-06-01-btn">Sign In</button>
                <p style="padding-top:5px"><a href="/signup">New user? Sign up</a></p>
            </div>
        </div>
    </form>
    </div>
    <!-- End Main Area -->
{% endblock %}