{% extends 'base.html' %}
    
{% block content %}
    


    <div id="id-4243-032-m">
        <div id="id-4243-032-m-01">
            <h1 style="text-decoration:underline">{{response.word}}</h1>
        </div>
        <div id="id-4243-032-m-02">
            <h4>added here by - <span>{{response.username}}</span></h4>
        </div>
        <div id="id-4243-032-m-03">
            <h3>{{response.meaning}}</h3>
        </div>

    </div>

    
    <div id="id-ren424-23412-32412">
        <a href="/wofday/write">Word of the day - Write</a>
    </div>
  


{% endblock %}