{% extends 'base.html' %}

{% block content %}
<div id="id-_-as-32n-aafjp-afkn">
    <div id="id-_-as-32n-aafjp-afkn-01-">
        <h2>About | www.lastevents.space</h2>
    </div>
    <div id="id-_-as-32n-aafjp-afkn-01--">
        <p style="padding-left:12px">Purpose of <a href="https://www.lastevents.space" target="_blank">www.lastevents.space</a>&nbsp;is gathering of information from the people all over the world and disbursing to everyone depending on their region. We publishing news aritlces everyday on time in different countries, categories. </p>
        <p style="padding-left:12px">Our focus is on providing you the quality content.</p>
    </div>
</div>
{% endblock %}